$def with (name)
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>恭喜中奖</title>
    </head>
    <body text=#ff0000 bgcolor=#ccff99>
    <marquee>
        恭喜你，霄霄
    </marquee>
    <marquee direction=left>
       你可以领取到一套想的美套装
    </marquee> <p>
    <marquee direction =right behavior=scroll>
        其中包含一个亲亲，一个抱抱\(￣︶￣*\))
    </marquee > <p>
    <marquee scrollamount=18>
        请在12月24日晚下班后，找你老公领取
    </marquee> <P>
    <marquee loop=3 bgcolor=blue>
        过期不候哦
    </marquee > <p>
    </body>
</html>
